body {
    background-image: linear-gradient(to bottom right, #DCF2F1 30%, #7FC7D9, #365486)
  
}

.container{
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #7FC7D9;
}

.btn{
    background: #7FC7D9;
    border-radius: 150px;
    font-size: 10px;
    border: solid #365486 3px;
    color: #365486;
}

.btn2{
    border: none;
    background: #7FC7D9;
    color: #365486;
    
}

h2{
    font-family: 'Poppins', sans-serif;
    color: #365486;
    font-size: medium;
}

.btn3{
    border: none;
    background: #7FC7D9;
    color: #365486;
    font-size: 20px;
    border-radius: 10px;
}